/*
    Eric Meyer's Reset CSS (minified)
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* == End Reset CSS */

/*
    Part II Example Styles
*/

/* Base Styles */
html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.125em; /* 18px */
  line-height: 1;
}

body {
  line-height: 1.333em; /* 23.994 px */
}

h1 {
  font-weight: bold;
  font-size: 1.333em;
  line-height: 1;
  padding: 1em .75em 1em .75em;
}

p {
  padding: .333em 1em 1em 1em; /* 7.99px = .333em */
}

/* HTML5 Media Elements */
figure, figcaption, picture { display: block; }

figure {
  background: #DDD;
  margin-bottom: 1em; /* Maintain typographic rhythm in a single column */
}

figcaption {
  font-size: .75em; /* 13.503 px */
  line-height: 1.777em;
  padding: .592em 1.333em 1.333em 1.333em; /* 7.99px = .592em */
}

/* Responsive Images */
img {
  display: block; /* Images display inline by default; display as blocks */
  width: 100%; /* Size as large as the containing element */
}

/* Background color & transition on targeted elements */
#garden-photo:target,
#garden-photo-description:target {
  background: rgb(182,219,255);
  transition: background 2s;
}

/* Styles to show currently loaded image source */
#logger {
  font-family: Monaco, Courier, monospace;
  font-size: .75em;
  padding: .6667em;
  position: absolute;
  right: 0;
  color: rgb(255,255,255);
  background-color: rgba(0,0,0,.6);
}

/* Media Queries */
@media screen and (min-width: 600px) {
  figure {
    width: 50%;
    position: absolute;
    left: 0%;
  }
  footer, section {
    margin-left: 50%;
    width: 50%;
  }
}

@media screen and (min-width: 1050px) {
  figure {
    width: 66.6667%;
  }
  footer, section {
    margin-left: 66.6667%;
    width: 33.3333%;
  }
}
